body {
    max-height: 100%;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(190, 198, 196);
}

div {
    height: 100%;
}

footer {
    background-color: rgba(138, 141, 143, 1.000);
    margin-top: 40%;
    font-size: x-large;
    margin-left: 7px;
    margin-right: 9px;
}

.topbox {
    width: 7%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.topboxdetails {
    background-color: rgb(138, 141, 143);
}

div.aboutlink {
    list-style-type: none;
}

h1 {
    font-size: x-large;
    color: rgb(51, 63, 72);
}

.carouselslidedetails {
    margin-top: 60px;
    width: 100%;
}

.boxthree {
    margin-top: 30px;
    width: 50%;
    padding-left: 23px;
    float: left;
}

.boxfour {
    margin-top: 30px;
    width: 50%;
    padding-left: 23px;
    float: right;
}

.boxfive {
    margin-top: 30px;
    width: 50%;
    padding-left: 23px;
    float: left;
}

.boxsix {
    margin-top: 30px;
    width: 50%;
    padding-left: 23px;
    float: right;
}

/* .grid {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
  } */


